<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="ru.sfedu.musicapp">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>
        <File name="logfile" fileName="logs/app.log">
            <PatternLayout pattern="%d{MM.dd:HH.mm.ss} %5p\t%c:%L - %m%n"/>
            <!--<Policies>-->
                <!--<OnStartupTriggeringPolicy />-->
                <!--<SizeBasedTriggeringPolicy size="500KB"/>-->
                <!--<TimeBasedTriggeringPolicy />-->
            <!--</Policies>-->
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="logfile"/>
        </Root>
    </Loggers>
</Configuration>